body {
  /* width: 1280px; */
  background: #dedede;
  margin: 0;
  padding: 0;
  /* font-family: 等线; */
}
/* 导航栏固定在顶部 */
header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333;
  height: 60px;
  width: 100%;
  min-width: 1280px;
}
/* 用position定位logo */
header img {
  position: fixed;
  left: 20px;
  top: 10px;
  height: 40px;
  width: 40px;
  /* float: left; */
  /* margin-left: 20px; */
  margin-top: 0px;
}

nav li {
  float: right;
  /* display: inline-block; */
  margin: 0 20px 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.section,.section1, .register {
  line-height: 25px;
  width: 1280px;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px 20px 40px 20px;
  box-shadow: 1px 1px 1px 1px #6b6b6b;
  border-radius: 1px;
}
.section1-top {
  margin-top: 80px;
}

footer {
  position: absolute;
  width: 100%;
  min-width: 1280px;
  color: #fff;
  background: #000;
  height: 70px;
  text-align: center;
}

h3,.author {
  color: #6b6a63
}

.author {
  font-size: 13px;
}

section p {
  font-size: 15px;
  text-indent: 2em;
}
