body {
  /* width: 1280px; */
  background: #dedede;
  margin: 0;
  padding: 0;
  /* font-family: 等线; */
}
/* 导航栏固定在顶部 */
header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333;
  height: 60px;
  width: 100%;
  min-width: 1280px;
}
/* 用position定位logo */
header img {
  position: fixed;
  left: 20px;
  top: 10px;
  height: 40px;
  width: 40px;
  /* float: left; */
  /* margin-left: 20px; */
  margin-top: 0px;
}

nav li {
  float: right;
  /* display: inline-block; */
  margin: 0 20px 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.section,.section1, .register {
  line-height: 25px;
  width: 1280px;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px 20px 40px 20px;
  box-shadow: 1px 1px 1px 1px #6b6b6b;
  border-radius: 1px;
}
.section1-top {
  margin-top: 80px;
}

footer {
  position: absolute;
  width: 100%;
  min-width: 1280px;
  color: #fff;
  background: #000;
  height: 70px;
  text-align: center;
}

h3,.author {
  color: #6b6a63
}

.author {
  font-size: 13px;
}

section p {
  font-size: 15px;
  text-indent: 2em;
}

.section3 div {
  border: 1px solid #afafaf;
  width: 130px;
  height: 140px;
  font-size: 5px;
  text-align: center;
  margin: 0 auto 15px 3em;
}

.section3 img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 5px auto;
}

.section4 table{
  width: 100%;
  border-collapse:collapse;
  font-size: 10px;
}

table th,table td {
  border:1px solid #ccc;
  padding-left: 5px;
}

table th {
  background-color: #000;
  color: #fff;
  text-align: left;
}

table tfoot {
  background-color: #ccc;
}

.register {
  width: 1280px;
  background-color: #fff;
  /* margin: 20px auto; */
  padding: 5px 20px 40px 20px;
  box-shadow: 1px 1px 1px 1px #6b6b6b;
  border-radius: 1px;
}

h4 {
  padding: 8px 10px;
  border-left: 3px solid #838383;

}

label { 
  float: left; 
  width: 40%; 
  margin-right: 1em; 
  text-align: right; 
}

form span {
  float: left;
  width: 50%;
  text-align: right;
}

form input[type="submit"]{
  width: 100%;
  background-color: #3356cf;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin-top: 1em;
}