@font-face {
  font-family: 'iconfont';
  /* project id 1210340 */
  src: url('//at.alicdn.com/t/font_1210340_zmmlnx35q2.eot');
  src: url('//at.alicdn.com/t/font_1210340_zmmlnx35q2.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1210340_zmmlnx35q2.woff2') format('woff2'), url('//at.alicdn.com/t/font_1210340_zmmlnx35q2.woff') format('woff'), url('//at.alicdn.com/t/font_1210340_zmmlnx35q2.ttf') format('truetype'), url('//at.alicdn.com/t/font_1210340_zmmlnx35q2.svg#iconfont') format('svg');
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'iconfont';
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body .objlist {
  flex: 0 1 900px;
}
body .objlist h1 {
  height: 100px;
  width: 100%;
  font-family: 'iconfont', 'Courier New', Courier, monospace;
  font-size: 50px;
  line-height: 100px;
  font-weight: bold;
  color: #fff;
  background-color: #263238;
  text-indent: 1rem;
  box-shadow: 0 0 4px #3b3b3b;
  position: relative;
}
body .objlist h1 span {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 30px;
  font-size: 24px;
}
body .objlist h1 span a {
  text-decoration: none;
  color: #fff;
}
body .objlist ul.main li {
  line-height: 50px;
  width: 100%;
  text-align: left;
  margin-bottom: 2px;
  user-select: none;
  box-sizing: border-box;
  border: 1px solid #263238;
  border-top: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px #3b3b3b;
}
body .objlist ul.main li b {
  position: absolute;
  right: 1rem;
  transition: all 0.3s ease;
  z-index: -1;
}
body .objlist ul.main li div.list {
  transition: all 0.3s ease;
  height: 0;
  overflow: hidden;
}
body .objlist ul.main li div.list p {
  color: #000;
  background-color: #fff;
  padding: 0 1rem;
  font-size: 14px;
}
body .objlist ul.main li.down {
  background-color: #2931539d;
  color: #ffffff;
}
body .objlist ul.main li.down b.arrow {
  color: #000;
  transform: rotate(90deg);
}
body .objlist ul.main li.down div.js {
  height: 300px;
}
body .objlist ul.main li.down div.hc {
  height: 300px;
}
body .objlist ul.main li.down div.react {
  height: 50px;
}
body .objlist ul.main li.down div.node {
  height: 50px;
}
