@font-face {
  font-family: 'iconfont';
  /* project id 1210340 */
  src: url('//at.alicdn.com/t/font_1210340_ioi452nmu6.eot');
  src: url('//at.alicdn.com/t/font_1210340_ioi452nmu6.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1210340_ioi452nmu6.woff2') format('woff2'), url('//at.alicdn.com/t/font_1210340_ioi452nmu6.woff') format('woff'), url('//at.alicdn.com/t/font_1210340_ioi452nmu6.ttf') format('truetype'), url('//at.alicdn.com/t/font_1210340_ioi452nmu6.svg#iconfont') format('svg');
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'iconfont';
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body .objlist {
  flex: 0 1 900px;
}
body .objlist h1 {
  height: 100px;
  width: 100%;
  font-family: 'iconfont', 'Courier New', Courier, monospace;
  font-size: 50px;
  line-height: 100px;
  font-weight: bold;
  color: #fff;
  background-color: #263238;
  text-indent: 1rem;
  position: relative;
}
body .objlist h1 span {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 30px;
  font-size: 24px;
}
body .objlist h1 span a {
  text-decoration: none;
  color: #fff;
}
body .objlist ul.main a {
  text-decoration: none;
  color: #1100ff;
}
body .objlist ul.main li {
  line-height: 50px;
  width: 100%;
  text-align: left;
  margin-bottom: 2px;
  user-select: none;
  box-sizing: border-box;
  border: 2px solid #263238;
  border-top: none;
  position: relative;
  transition: all 0.3s ease;
  flex-direction: column;
}
body .objlist ul.main li b {
  position: absolute;
  right: 1rem;
  transition: all 0.3s ease-out;
  z-index: -1;
}
body .objlist ul.main li div.list {
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
}
body .objlist ul.main li div.list p:nth-of-type(1) {
  border-top: 2px dashed #e0e0e0;
}
body .objlist ul.main li div.list p {
  color: #000;
  background-color: #fff;
  padding: 0 1rem;
  font-size: 14px;
  line-height: 40px;
  user-select: text;
}
body .objlist ul.main li.down b.arrow {
  color: #000000;
  transform: rotate(90deg);
}
body .objlist ul.main li.down div.list {
  max-height: 240px;
}
