/* 版心1000 */

* {
    margin: 0;
    padding: 0;
}

.inner_center {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.clearfix::before, .clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "SimSun", Arial, Tahoma, Helvetica, Geneva, sans-serif;
}

header {
    background-color: #191d3a;
}

header .logo {
    float: left;
    padding-top: 9px;
    padding-left: 19px;
}

header .logo a {
    display: block;
    text-indent: -999rem;
    overflow: hidden;
    width: 206px;
    height: 49px;
    background: url(../img/icons.png) no-repeat 0 0;
}

header .nav li {
    float: left;
    list-style: none;
}

header .nav li.first a {
    border-left: 1px solid #252947;
}

header .nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font: 14px/58px "Sum-Sun";
    color: #818496;
    width: 85px;
    border-right: 1px solid #252947;
}

header .nav li a:hover {
    color: #fff;
}

header .nav li.nav-active a {
    color: #fff;
    text-align: center;
    background-color: #252947;
}

header .join-btn {
    float: left;
    padding-top: 12px;
    padding-left: 9px;
}

header .join-btn a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #38b774;
    border-right: none;
    width: 100px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
}

header .join-btn a:hover {
    background-color: #2f9e63;
}

header .language {
    float: left;
    width: 59px;
    margin-left: 88px;
}

header .language a {
    line-height: 58px;
    color: #3a4866;
    text-decoration: none;
}

header .language a.cn {
    margin-right: 10px;
}

header .language .active {
    color: #38b774;
}

/* .banner */

.banner {
    background-color: #5EC4EA;
    height: 460px;
    position: relative;
    /* 防止出现横向滚动条 */
    overflow: hidden;
}

.banner img {
    height: 460px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}

.banner img.active {
    z-index: 1;
}

/* 弃用背景图，直接插入图片 */

/* .banner .banner-img {
    background: url(../img/banner1.png) no-repeat center top;
    margin: 0 auto;
    position: relative;
} */

.banner .slider {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 19px;
    margin-left: -52px;
}

.banner .slider li {
    list-style: none;
    float: left;
    margin: 0 7px;
    background-color: #fff;
    opacity: 0.5;
    width: 12px;
    height: 12px;
    text-indent: -999em;
    border-radius: 50%;
}

.banner .slider li.active {
    opacity: 1;
}

/* main部分 */

.main {
    background: url(../img/indexmainbg.jpg) no-repeat center bottom;
    padding-bottom: 57px;
}

.main ul.game {
    border-bottom: 1px solid #dbe1e7;
    padding-top: 50px;
    padding-bottom: 32px;
    position: relative;
}

.main ul.game li {
    float: left;
    list-style: none;
    text-align: center;
}

.main ul.game li h3 {
    text-align: center;
    font: bold 14px/25px "MicroSoft Yahei";
    margin-top: 9px;
}

.main ul.game li a span {
    padding-right: 10px;
    color: #38b774;
    text-align: center;
    font: 12px/21px "Hiragino Sans GB";
    background: url(../img/arrow.png) no-repeat right center;
}

.main ul.game img {
    width: 218px;
}

.main ul.game a {
    text-decoration: none;
    color: #444866;
    display: block;
    width: 218px;
    margin-right: 42px;
    padding-bottom: 12px;
}

.main ul.game li a:hover {
    color: #fff;
    background-color: #38b774;
}

.main ul.game li a:hover span {
    color: #fff;
    background: url(../img/arrow2.png) no-repeat right center;
}

.main ul.game img:nth-last-of-type(1) {
    width: 217px;
}

.main ul.game li:nth-last-of-type(1) a {
    width: 217px;
    margin-right: 0px;
}

.game .slider {
    padding: 0 7px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -33px;
    background-color: #fff;
}

.game .slider li {
    list-style: none;
    float: left;
    margin: 0 7px;
    background-color: #fff;
    width: 12px;
    height: 12px;
    text-indent: -999em;
    border-radius: 50%;
}

.game .slider li {
    background-color: #b5c0cb;
}

.game .slider li.active {
    background-color: #2fbc71;
}

/* .info */

.info {
    width: 1000px;
    margin: 0 auto;
    margin-top: 53px;
    overflow: hidden;
}

.info div.boya-news, .info div.boya-recruitment {
    width: 500px;
    float: left;
}

.info .boya-news {
    position: relative;
    padding-top: 110px;
    background: url(../img/bynewsbg.jpg) no-repeat 0 -10px;
}

.info a.btn {
    width: 65px;
    height: 26px;
    border: 1px solid #2fbc71;
    border-radius: 4px;
    position: absolute;
    left: 219px;
    top: 41px;
    font-size: 12px;
    line-height: 19px;
    font-family: "Hiragino Sans GB";
    text-align: center;
    text-decoration: none;
    color: #2fbc71;
}

.info .boya-news a.btn:hover {
    color: #fff;
    background-color: #2f9e63;
}

.info .boya-news ul.newlist {
    padding-left: 20px;
}

.info .boya-news .newlist li {
    padding-right: 66px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 462-66 */
    width: 396px;
    list-style: none;
    border-bottom: 1px solid #dbe1e7;

    position: relative;
}

.info .boya-news .newlist li a {
    text-decoration: none;
    color: #444866;
    line-height: 49px;
    font-size: 14px;
    font-family: "MicroSoft Yahei"
}

.info .boya-news .newlist li a:hover {
    color: #2fbc71;
}

.info .boya-news .newlist li span {
    position: absolute;
    right: 0;
    color: #afbecf;
    font-size: 13px;
}

.boya-recruitment {
    color: #fff;
    background: url(../img/byhrbg3.jpg) no-repeat 0 0;
}

.boya-recruitment {
    position: relative;
    padding-top: 40px;
    padding-bottom: 28px;
}

.boya-recruitment .hd {
    padding-left: 80px;
}

.boya-recruitment .hd h3 {
    font-size: 28px;
    line-height: 36px;
}

.boya-recruitment .hd h4 {
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
}

.boya-recruitment a.btn {
    color: #fff;
    border: 1px solid #fff;
}

.boya-recruitment a.btn:hover {
    color: #2fbc71;
    background-color: #fff;
}

.boya-recruitment dl.bd {
    padding-top: 23px;
    padding-left: 20px;
    font-size: 14px;
}

.boya-recruitment dl.bd a {
    text-decoration: none;
    color: #fff;
}

.boya-recruitment dl.bd dt {
    line-height: 19px;
    font-weight: bold;
}

.boya-recruitment dl.bd dd {
    width: 305px;
    line-height: 37px;
    border-bottom: 1px solid #6fdea3;
}

/* footer */

footer {
    background-color: #191d3a;
    font-size: 12px;
    padding: 20px 0;
}

footer p {
    color: #6c6e7e;
    padding-left: 5px;
    line-height: 51px;
}

footer p a {
    text-decoration: none;
    color: #6c6e7e;
}

footer p a:hover {
    color: #fff;
}

footer p img {
    width: 38px;
    vertical-align: middle
}