.nomargin {
    margin: 0 !important;
}

/* 清除浮动 */
.clearfix::before, .clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hidden {
    height: 0;
    overflow: hidden;
}